.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.data-container {
  margin: 20px auto;
  width: 80%;
  max-width: 1200px;
  border-collapse: collapse;
}

.data-container table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.data-container th, .data-container td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

.data-container th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.pagination-controls {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  width: 80%;
  max-width: 1200px;
}

.pagination-controls button {
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
}

.pagination-controls button:disabled {
  background-color: #c0c0c0;
  cursor: not-allowed;
}


h2 {
  text-align: center;
  margin: 20px auto;
  width: 80%;
  max-width: 1200px;
  border-collapse: collapse;
}